.section-4 {
  background: var(--color-background-light);
  width: 100%;
  max-width: 1440px;
  height: 172px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 264px 40px 264px;
  box-sizing: border-box;
}

.logo-container {
  width: 100%;
  max-width: 912px;
  height: 42px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 21px;
}

.logo-track {
  display: flex;
  position: relative;
}

.logo {
  flex: 0 0 200px;
  padding: 0 50px;
  box-sizing: border-box;
}

.logo img {
  width: 100%;
  height: 40px;
  object-fit: contain;
  opacity: 0.9;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.logo img:hover {
  opacity: 1;
  filter: grayscale(0%);
}

/* Regular Desktop */
@media screen and (min-width: 1440px) {

  .logo-container {
    max-width: 912px;
  }

  .logo {
    flex: 0 0 200px;
    padding: 0 50px;
  }
}

/* Large Desktop */
@media screen and (min-width: 1920px) {

  .logo-container {
    max-width: 912px;
  }

  .logo {
    flex: 0 0 240px;
    padding: 0 60px;
  }
}

