.section-3 {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    transform: none;
}

.section-3-text {
    font-size: 5em;
    line-height: 80px;
    font-weight: var(--weight-medium);
    text-align: left;
    margin: 0 auto;
}

.gray-text {
    color: var(--color-secondary);
}

.white-text {
    color: var(--color-primary);
    position: relative;
    display: inline-block;
}

.white-text::after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    bottom: -2px;
    left: 0;
    background-color: var(--color-primary);
    transition: width 0.3s ease-in-out;
    pointer-events: none;
    opacity: 0.9;
}

.white-text.hovered::after {
    width: 100%;
}


/* Desktop (1440px) */
@media screen and (min-width: 1440px) {
    .section-3 {
        padding: 235px 220px;
    }

    .section-3-text {
        font-size: 5em;
        line-height: 1.025;
    }

    .white-text::after {
        height: 8px;
        bottom: -4px;
    }
}

/* Large Desktop (1920px and up) */
@media screen and (min-width: 1920px) {
    .section-3-text {
        font-size: 5.6em;
        line-height: 1.065;
        font-weight: var(--weight-medium);
        text-align: left;
    }
}
