.section-8 {
  width: 1440px;
  height: auto;
  padding: 180px 117px;
  background-color: #fff;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 110px;
}

.results-title {
  font-size: 70px;
  line-height: 78px;
  font-weight: 460;
  color: black;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.stat-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.stat-number {
  font-size: 80px;
  line-height: 86px;
  font-weight: 460;
  color: #000;
  display: flex;
  align-items: baseline;
}

.stat-description {
  font-size: 22px;
  line-height: 28px;
  font-weight: 460;
  color: rgba(41, 41, 41, 1);
  max-width: 350px;
}

.reveal-slide-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1.2s cubic-bezier(0.33, 1, 0.68, 1);
  transition-delay: var(--delay, 0s);
  will-change: transform, opacity;
}

.reveal-slide-up.active {
  opacity: 1;
  transform: translateY(0);
}