.section-3 {
    background-color: #000000;
    height: 900px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transform: none;
}

.section-3-text {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 80px;
    line-height: 76px;
    font-weight: 460;
    text-align: left;
    padding: 0 20px;
}

.gray-text {
    color: rgba(131, 141, 151, 1);
}

.white-text {
    color: #ffffff;
    position: relative;
    display: inline-block;
}

.white-text::after {
    content: '';
    position: absolute;
    width: 0;
    height: 8px;
    bottom: -4px;
    left: 0;
    background-color: white;
    transition: width 0.3s ease-in-out;
    pointer-events: none;
    opacity: 0.9;
}

.white-text.hovered::after {
    width: 100%;
}

